body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

#health-bar-container {
  width: 600px;
  background-color: #555;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 3px;
}

#health-bar {
  height: 20px;
  background-color: green;
  width: 100%; /* Initial full health */
  border-radius: 5px;
  transition: width 0.3s ease;
}

#game-container {
  width: 600px;
  height: 600px;
  position: relative;
}

#grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 100%;
  height: 100%;
}

.cell {
  border: 1px solid #555;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: white;
}

.player {
  background-color: blue;
}

.enemy {
  background-color: red;
}

.heal {
  background-color: green;
}
#timer {
  margin-top: 20px;
  color: white;
  font-size: 20px;
}
